<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kafi</title>
    <link rel="stylesheet" href="all.css" />
  </head>
  
  <body ng-app="myApp" ng-controller="MainController as c">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #993308 !important; color: #EBC00C;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="http://kafi.azurewebsites.net/calculator" class="navbar-brand" style="font-family: 'Segoe UI'; font-weight: bold; color: #EBC00C; font-size: 160%">
          Kafi 
          <i class="fa fa-fire"></i>
        </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="http://www.github.com/surrealist/kafi" target="_blank">GitHub</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" style="background-color: steelblue; color: white; margin-bottom: 15px;">
        <div class="container">
          <div style="padding: 10px 0px;">โปรแกรมคำนวณค่าไฟฟ้า</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-push-1">
          <br/>
          <button class="btn btn-info btn-sm pull-right" style="margin-top: 10px;" ng-click="c.addDevice()">
            <span class="glyphicon glyphicon-plus"></span>
            <span>เพิ่มอุปกรณ์</span>
          </button>
          <h3 ng-cloak>
            <span class="glyphicon glyphicon-home"></span>
            <span>{{ c.myHouse.name }}</span>
          </h3>
          <div class="table-responsive">
            <table class="table table-hover" ng-cloak>
              <thead>
                <tr>
                  <th class="text-left" style="width: 30px;">ลำดับ</th>
                  <th>ชื่ออุปกรณ์ไฟฟ้า</th>
                  <th style="width: 80px;" class="text-right">จำนวน</th>
                  <th style="width: 110px;" class="text-right">กำลังไฟ (วัตต์)</th>
                  <th style="width: 100px;" class="text-right">ชั่วโมง/วัน</th>
                  <th style="width: 100px;" class="text-right">วัน/เดือน</th>
                  <th style="width: 100px;" class="text-right">หน่วย/เดือน</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="d in c.myHouse.devices">
                  <td class="text-left">{{ $index+1 }}</td>
                  <td>{{ d.name }}</td>
                  <td class="text-right">
                    <input type="number" ng-model="d.quantity" min="0" max="99" style="text-align: right;" />
                  </td>
                  <td class="text-right">{{ d.watts | number:0 }}</td>
                  <td class="text-right">{{ d.hoursPerDay | number:2}}</td>
                  <td class="text-right">{{ d.daysPerMonth | number:2}}</td>
                  <td class="text-right text-info">{{ d.unitsPerMonth | number:2}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4">
                    <span>รวม</span>
                    <b class="text-info">{{ c.myHouse.totalDevices }}</b>
                    <span>ชิ้น</span>
                  </td>
                  <td colspan="2" class="text-right">
                    <b>รวมจำนวนหน่วย/เดือน:</b>
                  </td>
                  <td class="info text-right text-info">
                    <strong>{{ c.myHouse.totalUnitsPerMonth | number:2 }}</strong>
                  </td>
                </tr>
                <tr>
                  <td colspan="6" class="text-right">
                    <b>ค่าไฟรายเดือน:</b>
                  </td>
                  <td class="info text-right text-info">
                    <strong style="font-size: 120%;">{{ c.myHouse.monthlyFee | number:2 }}</strong>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <br />
        <p style="font-size: 85%;">
          <i class="fa fa-copyright fa-flip-horizontal"></i>
          <span>พุทธศักราช ๒๕๕๘</span>
          <span>&ndash; ค่าไฟ</span>
        </p>
      </div>
    </footer>
    <script src="lib.js"></script>
    <script src="app/app.js"></script>
    <script src="app/models/Device.js"></script>
    <script src="app/models/Building.js"></script>
    <script src="app/models/House.js"></script>
    <script src="app/models/Calculator.js"></script>
    <script src="app/models/HouseCalculator.js"></script>
    <script src="app/controller.js"></script>
  </body>

</html>